$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

/* Bootstrap variables overiding */

/*
$brand-primary:         #ff8000;
$brand-success:         #aa4488;
*/

@import 'sass-bootstrap/lib/bootstrap';

/* Site-specific styling */

h4 {
    border-bottom: 1px solid;
    color: $brand-primary;
    text-transform: capitalize;
}

.header {
    margin-bottom: 30px;
}

.respimg {
    width: 100%;
}




/* Responsive media queries */

/*      - xs / phone : 480+
        - sm / tablet : 768+
        - md / desktop : 992+
        - lg / lg-desktop : 1200+
*/

@media screen and (min-width: $screen-tablet) {
    .container {
        max-width: 730px;
    }

}

@media screen and (min-width: $screen-desktop) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: $screen-lg-desktop) {
    .container {
        max-width: 1260px;
    }
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: -0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
